<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <script type='text/javascript' src="/public/js/lib/gauge.js"></script>
  <script type='text/javascript' src='//www.bing.com/api/maps/mapcontrol?callback=initMap' async defer></script>
</head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="text-white"> Realtime Hive Details: <span id='hiveName'></span></h3>
      </div>
      <div class="panel-body portal-panel">
      
        <div id="hiveMap"></div>
        <br/>

        <!-- Gauges -->
        <div id="gauges">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="gaugetitle">&nbsp;<i class="fa fa-thermometer-half"></i> Temperature &nbsp; <span class='info' id='tempInfo'></span></div> 
              <div class="gaugeval unittemp" id="tempVal"></div>
              <canvas class="gaugecanvas" id="tempGauge"></canvas>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="gaugetitle">&nbsp;<i class="fa fa-tint"></i> Humidity &nbsp; <span class='info' id='humInfo'></span></div>
              <div class="gaugeval unitperc" id="humidVal"></div>
              <canvas class="gaugecanvas" id="humidGauge"></canvas>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="gaugetitle">&nbsp;<i class="fa fa-flag"></i> Air Quality &nbsp; <span class='info' id='airInfo'></span></div>
              <div class="gaugeval unitperc" id="airVal"></div>
              <canvas class="gaugecanvas" id="airGauge"></canvas>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="gaugetitle">&nbsp;<i class="fa fa-volume-up"></i> Sound Level &nbsp; <span class='info' id='soundInfo'></span></div> 
              <div class="gaugeval unitdb" id="soundVal"></div>
              <canvas class="gaugecanvas" id="soundGauge"></canvas>
            </div>
          </div>        
        </div> <!-- end gauges -->

        <!-- Hub info (weather) -->
        <div class="row" id="hubrow">
          <div class="col-xs-6">
            <table id="hubinfo">
            </table>
          </div>
          <div class="col-xs-6">
             <canvas id="weather_icon" width="256" height="256"></canvas>
          </div>
        </div>

        <!-- Info box -->
        <div id="info"></div>

        <!-- Error messages -->
        <h3 id="error" class="text-warning"></h3>

      </div>
    </div>
  </main>

  <script src="/public/js/hives.js"></script>
  <script src="/public/js/map.js"></script>
  <script src='/public/js/skycons.js'></script>
  <script>
    var hives = <%- hivesJSON %>;
    var activeHive = null;
    initAllGauges();
    selectHive(hives[0]);
  </script>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>