<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <script type='text/javascript' src="//bernii.github.io/gauge.js/dist/gauge.min.js"></script>
  <script type='text/javascript' src='//www.bing.com/api/maps/mapcontrol?callback=initMap' async defer></script>
</head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="text-white"> Realtime Hive Details: <span id='hiveName'></span></h3>

      </div>
      <div class="panel-body"  style="background-color:#eee">
      
        <div id="hiveMap"></div>
        <div id="gauges">
          <div class="row" style="background-color:#eee">

            <div class="col-xs-6">
              <h4>Temperature</h4> 
              <div class="gaugeval unittemp" id="tempVal"></div>
              <canvas id="tempGauge"></canvas>
            </div>

            <div class="col-xs-6">
              <h4>Humidity</h4> 
              <div class="gaugeval unitperc" id="humidVal"></div>
              <canvas id="humidGauge"></canvas>
            </div>

          </div>

          <div class="row" style="background-color:#eee">

            <div class="col-xs-6">
              <h4>Motion Level</h4> 
              <div class="gaugeval" id="motionVal"></div>
              <canvas id="motionGauge"></canvas>
            </div>

            <div class="col-xs-6">
              <h4>Sound Levels</h4> 
              <div class="gaugeval unitdb" id="soundVal"></div>
              <canvas id="soundGauge"></canvas>
            </div>

          </div>        
        </div>

        <h3 id="error" class="text-warning"></h3>

      </div>
    </div>
  </main>

  <script src="/public/js/hives.js"></script>
  <script src="/public/js/map.js"></script>
  <script>
    var hives = <%- hivesJSON %>;
    var activeHive = null;
    initGauges();
    selectHive(hives[0]);
  </script>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>