<!DOCTYPE html>
<html lang="en">

<head> <% include partials/head %> </head>

<body class="container">

  <header> <% include partials/header %> </header>

  <main>

    <div class="panel panel-default">
      <div class="panel-heading"><h1><img src="/public/img/logo.png" style="width:128px"/> HiveAlive</h1></div>
      <div class="panel-body">
        <h4>Welcome to HiveAlive, you are logged in as <i>B.Keeper@outlook.com</i></h4>
        <p>
          Data collection: You have 3 hives registered and 1 HiveHub
        </p>
        <button class="btn-lg btn-success" onclick="document.location.href='/hives'">View your hives</button> 
      </div>

    </div>

  </main>

  <footer> <% include partials/footer %> </footer>

</body>

</html>