<!DOCTYPE html>
<html lang="en">

<head> <% include partials/head %> </head>

<body class="container">

  <header> <% include partials/header %> </header>

  <main>

    <div class="panel panel-default">
      <div class="panel-heading"><h1><img src="/public/img/logo.png" style="width:128px"/> Hivematic</h1></div>
      <div class="panel-body">
        Welcome to Hivematic      
      </div>
    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

</body>

</html>