<!DOCTYPE html>
<html lang="en">

<head> <% include partials/head %> </head>

<body class="container">

  <header> <% include partials/header %> </header>

  <main>
    <div class="jumbotron">
      <h1><i class="fa fa-coffee"></i> This is a boilerplate app</h1>
      <p>Boring! Best if you modify this page to do something useful</p>
    </div>
  </main>

  <footer> <% include partials/footer %> </footer>

</body>

</html>