<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="text-white"> Data Reporting</h3>
      </div>
      <div class="panel-body">
        <iframe width="100%" height="700" src="https://msit.powerbi.com/view?r=eyJrIjoiNTg3OTEzN2ItMjU3NS00MjQ1LThjNzItNzdjZjk5ZjU5NzVjIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>