<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <header>
    <% include partials/header %>
  </header>

  <main>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="text-white"> Data Reporting</h3>
      </div>
      <div class="panel-body">
        Data maybe not up to date, view current reports - <a target="_blank" href="https://msit.powerbi.com/groups/2358aebc-cda7-4db6-8829-cb4a6b723819/reports/972fe462-e7db-4479-b767-93b97d256194/ReportSection?ctid=72f988bf-86f1-41af-91ab-2d7cd011db47" class="btn-lg btn-primary">Open PowerBI</a><br/><br/>
        <iframe width="100%" height="700" src="https://msit.powerbi.com/view?r=eyJrIjoiNTg3OTEzN2ItMjU3NS00MjQ1LThjNzItNzdjZjk5ZjU5NzVjIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>

</html>