<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-left">
      <img src="/public/img/logo.png">
      <a class="navbar-brand" href="#"> Hivematic</a>
    </div>

    <div class="navbar-right hidden-xs hidden-sm">
      <a href="/hives" class="btn btn-default navbar-btn"><i class="fa fa-eye"></i>&nbsp;View Hives</a>
      <a href="/reports" class="btn btn-default navbar-btn"><i class="fa fa-pie-chart"></i>&nbsp;Reports</a>
      <a href="/admin" class="btn btn-default navbar-btn"><i class="fa fa-wrench"></i>&nbsp;Hive Admin</a>
      <a href="/" class="btn btn-default navbar-btn btn-primary"><i class="fa fa-user"></i></a>
      &nbsp; &nbsp;
    </div>

    <div class="navbar-right visible-xs visible-sm">
        <a href="#" class="btn btn-default navbar-btn btn-primary"><i class="fa fa-bars"></i></a>
    </div>

  </div>
</nav>