<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-left">
      <img src="/public/img/logo.png">
      <a class="navbar-brand" href="#"> Hivematic</a>
    </div>

  </div>
</nav>